<html>
<head>
    <title>Madlib Word Grab</title>
</head>
<body>
    <h1>Create your Madlib!</h1>
<form action="/madlib">
    Person:
    <input type="text" name="person" value="propername">
    <br>
    Color:
    <select name="favorite_color">
        <option value="yellow">Yellow</option>
        <option value="red">Red</option> 
        <option value="Magenta">Magenta</option> 
        <option value="kiwi">Kiwi</option>
    </select>
    <br>  
    Noun:
    <input type="checkbox" name="noun" value="chair">chair
    <input type="checkbox" name="noun" value="shoe">shoe
    <input type="checkbox" name="noun" value="canoe">canoe
    <input type="checkbox" name="noun" value="glasses">glasses
    <br>
    Adjective:
    <input type="text" name="adjective" value="descriptor">
    <input type="submit">
</form>
</body>
</html>