{% extends 'base.html' %}

{% block title %} Ghostly Madlib Word Grab {% endblock %}

{% block content %}
    <h2> Directions </h2>
    <p> Add words to your madlib dictionary. Add at least five words for each word type. You can add as many potential words as you would like as the game will chose from the dictionary at random when story time comes!</p><br>
    <form action="/game_add", method="POST">
        <input type="hidden" name="name" value="proper_noun">
        <label for="proper noun"> Proper Noun <span>(specific people and places)</span>: </label>
        <input type="text" name="proper_noun">
        <input type="submit" name ="propernoun">
    </form>

    <form action="/game_add", method="POST">
        <input type="hidden" name="name" value="noun">
        <label for="noun"> Noun <span>(object/thing)</span>: </label>
        <input type="text" name="noun">
        <input type="submit" name="noun"> 
        
    </form>

    <form action="/game_add", method="POST">
        <input type="hidden" name="name" value="verb">
        <label for="verb"> Verb <span>(action words)</span>: </label>
        <input type="text" name="verb">
        <input type="submit" name="verb">
    </form>

    <form action="/game_add", method="POST">
        <input type="hidden" name="name" value="adjective">
        <label for="adjective"> Adjectives <span>(description)</span>: </label>
        <input type="text" name="adjective">
        <input type="submit" name="adjective">
    </form>

    <form action="/game_add", method="POST">
        <input type="hidden" name="name" value="adverb">
        <label for="adverb"> Adverb <span>(descriptor word with -ly ending)</span>: </label>
        <input type="text" name="adverb">
        <input type="submit" name="adverb">
    </form>

    <form action="/game_add", method="POST">
        <input type="hidden" name="name" value="exclamation">
        <label for="exclamation"> Exclamation <span>(an expression of surpise ie wow)</span>: </label>
        <input type="text" name="exclamation">
        <input type="submit" name="exclamation">
    </form>

    <p> <b> Propernouns </b>:
        {% for item in propernoun %}
            <span> {{ item }} </span>
        {% endfor %}
    </p>
    <p> <b>Nouns</b>:
        {% for item in noun %}
            <span> {{ item }} </span>
        {% endfor %}
    </p>
    <p> <b>Verbs</b>:
        {% for item in verb %}
            <span> {{ item }} </span>
        {% endfor %}
    </p>
    <p> <b>Adjectives</b>:
        {% for item in adjective %}
            <span> {{ item }} </span>
        {% endfor %}
    </p>
    <p> <b>Adverbs</b>:
        {% for item in adverb %}
            <span> {{ item }} </span>
        {% endfor %}
    </p>
    <p> <b>Exclamations</b>:
        {% for item in exclamation %}
            <span> {{ item }} </span>
        {% endfor %}
    </p>
    

    <pre>
        {{ testdata }}
    </pre>

    <form action="/game_add", method="POST">
        <input type="hidden" name="name" value="done">
        <label for="finish generating words"> If you don't want to add any more words to your madlib dictionary. Press "Done" to move on to chosing your madlib story. </label>
        <input type="submit" name="done" value="DONE">
    </form>
        
{% endblock %}