{% extends 'base.html' %}
{% block title%} Madlibs with Lauren and Thao {% endblock title%} 


{% block title%}
  
    {{proper_noun1}} and {{proper_noun2}} were driving through a wooded empty section of highway. Lightning flashed, thunder roared, the sky went dark in the torrential downpour. <br>

    “We’d better stop,”  said {{proper_noun1}}. <br>

    {{proper_noun2}} nodded his {{noun}} in agreement. He stepped on the {{noun}}, and {{adverb}} the car started to slide on the slick pavement. They {{verb}} off the road and slid to a halt at the bottom of an incline.<br>

    Pale and {{verb}}, {{proper_noun2}} {{adverb}} turned to check if {{proper_noun1}} was all right. When she nodded, {{proper_noun2}} relaxed and looked through the rain soaked windows.<br> 

    “I’m going to see how bad it is,” he told {{proper_noun1}}, and when out into the storm. She saw his blurry figure in the headlight, {{verb}} around the front of the car. A moment later, he jumped in beside her, {{adjective}} wet.<br>

    “The car’s not badly damaged, but we’re wheel-deep in mud,” he said. “I’m going to have to go for help.”
    {{proper_noun1}} {{verb}} {{adverb}}. There would be no quick rescue here. He told her to turn off the {{noun}} and lock the doors until he returned.<br> 
     
    Axe Murder Hollow. Although {{proper_noun2}} hadn’t said the name aloud, they both knew what he had been thinking when he told her to lock the car. This was the place where a {{noun1}} had once taken an {{noun3}} and hacked his wife to death in a jealous rage over an alleged affair. Supposedly, the {{noun3}} -wielding spirit of the {{noun1}} continued to haunt this section of the road.<br>
      
    Outside the car,  {{proper_noun1}} heard a {{exclimation}}, a {{adjective}} thump, and a strange {{adjective}} noise. But she couldn’t see anything in the darkness.<br>

    Frightened, she {{verb}} down into her {{noun}}. She sat in silence for a while, and then she noticed another sound.  {{exclimation1}}. Bump. {{exclimation1}}.  It was a soft sound, like something being blown by the wind.<br>

    Suddenly, the car was illuminated by a {{adjective}} light. An {{adjective}} sounding voice told her to get out of the car. {{proper_noun2}} must have found a police {{noun}}. {{proper_noun1}} unlocked the door and stepped out of the car. As her eyes adjusted to the bright light, she saw it.<br>

    Hanging by his {{noun}} from the {{noun}} next to the car was the dead body of {{proper_noun2}}. His {{adverb}} {{noun2}} had been cut so {{adverb}} that he was nearly decapitated. The wind swung his {{noun2}} back and forth so that it thumped against the tree. {{exclimation2}}. Bump. {{exclimation2}}.<br>
      
    {{proper_noun1}} screamed and ran toward the voice and the light. As she drew close, she realized the light was not coming from a flashlight. Standing there was the glowing figure of a man with a {{noun}} on his face and a {{adjective}}, solid, and definitely real {{noun3}} in his hands. She backed away from the glowing figure until she bumped into the car.<br>

    “Playing around when my back was turned,” the ghost whispered, stroking the sharp blade of the {{noun3}} with his fingers. “You’ve been {{adjective}} naughty.”<br>

    The last thing she saw was the glint of the {{noun3}} blade in the eerie, incandescent light.<br>

    <footer> The Above Story Framework was kindly provided by Ghost Stories by S.E. Schlosser in Spooky Pennsylvania. http://americanfolklore.net/folklore/2009/03/axe_murder_hollow.html</footer>
